<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">
  <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119"
            height="1083.632" viewBox="0 0 516.119 1083.632">
            <path id="Path_40" data-name="Path 40"
              d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
              transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
          </svg>
  <div class="row">
    <div class="toolbar" role="banner">
      <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
      <span>Personal Project - Web user interface</span>
      <div class="spacer"></div>
      
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h3>How to get started:</h3>
        <p class="lead">This webpage is designed to controle a robotic crane. To move the crane around, just click on
          the different buttons to see what happens
          !
        </p>
        <hr class="my-4">
        <p style="text-align: center;">The robotic crane uses an <a
            href="https://store.arduino.cc/arduino-uno-rev3">Arduino Uno</a> for the main actions and an <a
            href="https://www.instructables.com/Getting-Started-With-the-ESP8266-ESP-01/">ESP8266-01s</a> for the
          connection with <strong>this</strong> website!</p>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Launch demo modal
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h2 style="text-align: center;"><strong><u>Main commands</u></strong></h2>
      <table class="row justify-content-center">
        <thead>
          <tr>
            <th scope="row">

            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><br><br><br><br></td>
          </tr>
          <tr>
            <td><label class="btn btn-primary btn-lg">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="switchOnOff()"> Turn crane <strong>{{ armInverseStatus }}</strong>
                </label>
            </td>
            <td><label class="btn btn-primary btn-lg">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Manual Control
                </label>
            </td>
            <td><label class="btn btn-primary btn-lg">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="switchModeProgramming()"> Programming mode
                </label>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><br><br><br><br></td>
          </tr>
          <tr style="box-sizing: border-box;">
            <td></td>
            <td>
              <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;" (click)="newItem(' Move second arm up  ')">Move 2nd Up</button>
            </td>
            <td></td>
          </tr>
          <tr style="box-sizing: border-box;">
            <td></td>
            <td>
              <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;" (click)="newItem('Move first arm up')"> Move 1st Up</button>
            </td>
            <td></td>
          </tr>
          <tr style="box-sizing: border-box;">
            <td>
              <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;" (click)="newItem('Move crane left')">Left</button>
            </td> 
            <td>
              <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;" (click)="spade()">Toggle</button>
            </td>  
            <td>
              <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;" (click)="newItem('Move crane right')">Right</button>
            </td>  
          <tr style="box-sizing: border-box;">
            <td></td>
            <td>
              <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;" (click)="newItem('Move first arm down')">Move 1st Down</button>
            </td>
            <td></td>
          </tr>
          <tr style="box-sizing: border-box;">
            <td></td>
            <td>
              <button type="button" class="btn btn-secondary btn-lg" style="width: 100%;" (click)="newItem('Move second arm down')">Move 2nd Down</button>
            </td>

            <td></td>
          </tr>
          <tr style="box-sizing: border-box;">
            <td></td>
            <td><br><br><br></td>
            <td></td>
          </tr>
          <tr style="box-sizing: border-box;">
            <td></td>
            <td class="rounded-circle">
              <button type="button" class="btn btn-danger btn-rounded" style="width: 100%;" (click)="resetAll()">Reset all?</button>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h3>Programming Interface</h3>
        <hr class="my-4">
        <h5 style="text-align: center;"><u>Current program:</u></h5>
        <ul>
          <table>
            <tr *ngFor="let command of commands | keyvalue; let i = index">
              <td>
                {{command.key}} : 
              </td>
              <td>
                {{command.value}}
              </td>
              <td>
                <button type="button" class="close"  id="remove_{{command.key}}" (click)="removeItem(command.key)" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </td>
            </tr>
          </table>
        </ul>
        <br>
        <div class="card-container">
          <div class="card card-small" tabindex="0" (click)="programEditor()">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

            <span style="user-select: none;">{{ programButtonText }}</span>
          </div>
          <button type="button" class="btn btn-success" (click)="sendJsonDoc()">Execute</button>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084"
            height="485.677" viewBox="0 0 2611.084 485.677">
            <path id="Path_39" data-name="Path 39"
              d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
              transform="translate(142.69 -634.312)" fill="#eee" />
          </svg>
  <div class="row">
    <div class="col">
      <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <form action="">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-auto mb-4 mb-md-0">
                <p class="pt-2"><strong>Have any questions? Write them here! =></strong></p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-5 col-12 mb-4 mb-md-0">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form5Example2" class="form-control" />
                  <label class="form-label" for="form5Example2">Question</label>
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-auto mb-4 mb-md-0">
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary mb-4">Ask now!</button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
          <br>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            2020-21 Personal Project
            <a class="text-dark" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=nicolasryjou@gmail.com&su=SUBJECT&body=BODY&bcc=23nicolasr@sais.edu.sg&tf=1">Email me.</a>
          </div>
          <a style="color: #dd4b39" role="button">
            <i class="fab fa-google fa-lg"></i>
          </a>
        </div>
        <!-- Grid container -->

      </footer>
    </div>
  </div>